<!DOCTYPE html>
<html>
<head>
	<title>BVI web study</title>
</head>

<body>
	<!-- <h1>Collaborative Writing Pilot Study</h1> -->
	<script type="text/javascript" src="shortcut.js"></script>
	<script type="text/javascript">
		const sound = new Audio();
		sound.src = <%- JSON.stringify(fileName) %>;
		var stimulus_played = false;
		var stimulus_paused = false;

	   	function playSound (fileName) {
	    	if (stimulus_played == false) {
		        sound.play();
		        stimulus_played = true;
		    }
		    else{
		        if (stimulus_paused == false) {
		            console.log("already played!");
		        }
		        else{
		            sound.play();
		            stimulus_paused = false;
		        }
		    }
	    }

	    function stopSound (){
	    	sound.pause();
    		stimulus_paused = true;
	    }

	    shortcut.add("p", playSound);
		shortcut.add("s", stopSound);
		shortcut.add("n", function(){
			document.getElementById("next").click();
		});
	</script>

	<button onclick="playSound ()">Play</button>
	<button onclick="stopSound ()">Stop</button>
	<form action="/" method= "GET">
		<button id="next">Next</button>
	</form>

</body>
</html>